@import "media-queries.scss";
@import "theme.scss";
.pancel {
  box-sizing: border-box;
  width: calc(100vw);
  height: 100%;
  padding: 20px;
  .card {
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex: 1;
    margin-bottom: 2rem;
    @include mi {
      flex-direction: column;
    }
    .content {
      display: flex;
      flex-direction: column;
      padding: 20px;
    }
    .title {
      letter-spacing: 0.025em;
      font-weight: 600;
    }
    .link {
      margin-top: 0.25rem;
      text-decoration: none;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
    .text-content {
      margin-top: 0.5rem;
    }
    img {
      @include xs {
        width: 200px;
      }
      @include sm {
        width: 200px;
      }
      @include md {
        width: 200px;
      }
      @include md {
        width: 200px;
      }
      @include lg {
        width: 200px;
      }
      @include xl {
        width: 200px;
      }
    }
  }
  .switch-theme-btn-plan-a {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    border: none;
    font-weight: 600;
    text-shadow: 0 4px 6px -1px #0000001a, 0 2px 4px -1px #0000000f;
    &:hover {
      cursor: pointer;
    }
  }
  .switch-theme-btn-plan-b {
    margin-left: 12px;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    border: none;
    font-weight: 600;
    text-shadow: 0 4px 6px -1px #0000001a, 0 2px 4px -1px #0000000f;
    &:hover {
      cursor: pointer;
    }
  }
}

// plan-B
.switch-theme-btn-plan-b {
  // 类的内部定义一个mixin函数！
  @mixin background($color) {
    @include themeify {
      background: themed($color);
    }
  }
  color: themify(accent-200);
  &:hover {
    background-color: themify(primary-100, 0.5);
  }
}



// plan-A
@include themeContainer() {
  .switch-theme-btn {
    color: $textColor;
    background-color: $bgColor;
    &:hover{
      // 关于filter https://developer.mozilla.org/en-US/docs/Web/CSS/filter
      filter: drop-shadow(3px 8px 20px red) invert(75%);
      background-color: $bgColor;
    }
  }
  .pancel {
    @include setTransition();
    background-color: $bgColor;
  }
  .card {
    @include setTransition();
    background-color: $bgColor;
    border: solid 1px $borderColor;
    box-shadow: 0px 2px 13px 6px $shadowColor;
    .title, .link, .text-content {
      color: $textColor;
    }
  }
}
