<div class="pancel">
    <button class="switch-theme-btn-plan-a" (click)="changeTheme()">{{'plan-a' | uppercase}}</button>
    <button class="switch-theme-btn-plan-b" (click)="changeTheme()">{{'plan-b' | uppercase}}</button>

    <div class="card" *ngFor="let item of [1,2,3]">
        <img src="./assets/img/demo.jpg" alt="">
        <div class="content">
            <div class="title">Case study</div>
            <a href="#" class="link">Finding customers for your new business</a>
            <p class="text-content">Getting a new business off the ground is a lot of hard work. Here are five ideas
                you can use to find your first customers.</p>
        </div>
    </div>
</div>